<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <th>
                        <td>ID</td>
                        <td>Username</td>
                        <td>Email</td>
                        <td>codiertes PW</td>
                        <td>EXP</td>
                    </th>
                    <% user.forEach(function(user) { %>
                        <tr>
                            <td></td>
                            <td><%= user.id %></td>
                            <td><%= user.username %></td> 
                            <td><%= user.email %></td>
                            <td><%= user.password %></td>
                            <td><%= user.experiences %></td>
                        </tr>
                    <% }); %>
                </table>
                
                <% user.forEach(function(user) { %>
                <ul class="list-group">
                    <h4 class="list-group-item-heading">ID:<%= user.id %></h4>
                    <p class="list-group-item-text">Username:<%= user.username %></p>
                    <p class="list-group-item-text">Email:<%= user.email %></p>
                    <p class="list-group-item-text">codiertes PW:<%= user.password %></p>
                    <p class="list-group-item-text">EXP:<%= user.experiences %></p>
                </ul>
                <% }); %>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>