<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-12">
                <h1>Veranstaltungsverwaltung für <%= name %></h1>
                <ul class="list-group" id="veranstaltungList">
                    <% veranstaltungen.forEach(function(event) { %>
                        <a href="/veranstaltungen/<%= event.id %>" class="list-group-item">
                            <h4 class="list-group-item-heading"><%= event.name %></h4>
                            <p class="list-group-item-text">Start:<%= event.dateStart %></p>
                            <p class="list-group-item-text">Ende:<%= event.dateEnd %></p>
                        </a>
                    <button class="btn btn-danger" onclick="deleteEvent(<%= event.id %>);">löschen</button>
                    <% }); %>
                </ul>
            </div>
            <div class="col-sm-12">
                <form id="newEventForm">
                    <label for="inputEventname" class="sr-only">Veranstaltungsname</label>
                    <input name="name" type="text" id="inputEventname" class="form-control" placeholder="Veranstaltungsname" required>
                    <label for="inputDateStart" class="sr-only">Startdatum</label>
                    <input name="dateStart" type="date" id="inputStartDate" class="form-control" placeholder="Startdatum" required>
                    <label for="inputTimeStart" class="sr-only">Startzeit</label>
                    <input name="timeStart" type="time" id="inputStartTime" class="form-control" placeholder="Startzeit" required>
                    <label for="inputDateEnd" class="sr-only">Enddatum</label>
                    <input name="dateEnd" type="date" id="inputEndDate" class="form-control" placeholder="Enddatum" required>
                    <label for="inputTimeEnd" class="sr-only">Endzeit</label>
                    <input name="timeEnd" type="time" id="inputEndTime" class="form-control" placeholder="Endzeit" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" disabled id="formSubmit">Sign in</button>
                </form>
                <script type="text/javascript">
                $(document).ready(function(){
                    $('#newEventForm').submit(function(e) {
                        console.log($('#inputStartTime').val());
                        var postData = $(this).serialize();
                        var formURL = '//localhost:1338/veranstaltungen';
                        $.ajax (
                            {
                                url: formURL,
                                type:"POST",
                                data: postData,
                                success: function(result)
                                {
                                    $('#veranstaltungList').append(
                                        "<a href='/veranstaltungen/"+result.id+"' class='list-group-item'><h4 class='list-group-item-heading'>"+result.name+"</h4><p class='list-group-item-text'>Start:"+result.start+"</p><p class='list-group-item-text'>Ende:"+result.end+"</p></a><button onclick='deleteEvent("+result.id+");'>löschen</button>");
                                    $('#inputEventname').val("");
                                    $('#inputStartDate').val("");
                                    $('#inputEndDate').val("");
                                    //location.reload();
                                }
                            });
                        e.preventDefault();
                    });
                    $('#inputEventname,#inputStartDate,#inputEndDate').blur(function(){
                        var name = $('#inputEventname').val();
                        var start = $('#inputStartDate').val();
                        var end = $('#inputEndDate').val();
                        if(name != "" && start != "" && end != "") {
                            $('#formSubmit').removeAttr('disabled');
                        }
                        else {
                            $('#formSubmit').attr('disabled', 'disabled');
                        }
                    });
                    /*$('#inputStartDate').blur(function(){
                        var name = $('#inputEventname').val();
                        var start = $('#inputStartDate').val();
                        var end = $('#inputEndDate').val();
                        if(name != "" && start != "" && end != "") {
                            $('#formSubmit').removeAttr('disabled');
                        }
                        else {
                            $('#formSubmit').attr('disabled', 'disabled');
                        }
                    });
                    $('#inputEndDate').blur(function(){
                        var name = $('#inputEventname').val();
                        var start = $('#inputStartDate').val();
                        var end = $('#inputEndDate').val();
                        if(name != "" && start != "" && end != "") {
                            $('#formSubmit').removeAttr('disabled');
                        }
                        else {
                            $('#formSubmit').attr('disabled', 'disabled');
                        }
                    });*/
                })
                </script>
                <script type="text/javascript">
                    function deleteEvent(eventId) {
                        $.ajax ({
                                url: '//localhost:1338/veranstaltungen/'+eventId,
                                type: "DELETE",
                                success: function(result) {
                                    location.reload();
                                }
                            });
                    }
                </script>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>